{% extends "base.html" %}
{% load static staticfiles i18n %}

{% block css %}
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="herb_list">
            <div class="col-xs-6 col-md-3">
                {% for chembl in related_assays %}
                    <a href="{{ chembl.assay_chembl_id_url }}" class="thumbnail">{{ chembl.assay_chembl_id }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
{% endblock js %}