
.navbar  .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}


.navbar {
    background-image: linear-gradient(#78C2AD,#78C2AD 60%, #78C2AD);
    background-repeat: no-repeat;
    border-bottom: 1px solid #78C2AD;
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-default {
    background-color: #78C2AD;
    border-color: #78C2AD;
}



